<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
  <div class="col-md-10 col-10">
    <h3 class="card-title"><b>Mostrando desde {{range.controls['start'].value | date:"longDate" }} hasta
        {{range.controls['end'].value | date:"longDate" }}</b> =><button mat-raised-button
        (click)="picker.open()">Cambiar</button>
    </h3>
  </div>
  <div class="col-md-2 col-2">
    <mat-form-field appearance="outline">
      <mat-label>Rango de fechas</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Inicio">
        <input matEndDate formControlName="end" placeholder="Final">
      </mat-date-range-input>
      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancelar</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="search()">Buscar</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha de inicio
        inválida</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha de fin inválida</mat-error>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Resumen de gastos</h5>
        <p class="card-category">Distribución de gastos recibidos</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="tableData && tableData.length > 0">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Reporte detallado</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>#</th>
              <th>
                Gasto
              </th>
              <th>
                Categoria
              </th>
              <th>
                Valor
              </th>
              <th>
                Fecha
              </th>
              <th class="text-right">
                Acciones
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let element of tableData; index as i; first as isFirst" [ngStyle]="{'background-color': (element.isUpdating) ? '#fafafa' : '#ffffff'}">
                <td *ngIf="element.isDeleting" colspan="6" class="deletion">
                  <button mat-raised-button color="primary" class="margin-btn"
                    (click)="cancelDeletion(element)">Cancelar</button>
                  <button mat-raised-button color="warn" class="margin-btn"
                    (click)="confirmDeletion(element)">Eliminar</button>
                </td>
                <td *ngIf="!element.isDeleting">{{i + 1}}</td>
                <td *ngIf="!element.isDeleting">
                  <p *ngIf="!element.isUpdating">{{element.tag | titlecase}}</p>
                  <mat-form-field *ngIf="element.isUpdating" class="example-full-width ">
                    <input matInput placeholder="Ej. Pizza" [(ngModel)]="element.tag">
                  </mat-form-field>
                </td>
                <td *ngIf="!element.isDeleting">
                  <p *ngIf="!element.isUpdating">{{element.category | titlecase}}</p>
                  <mat-form-field *ngIf="element.isUpdating" appearance="fill" class="updatingElement">
                    <mat-label>Seleccione la categoria</mat-label>
                    <mat-select [(ngModel)]="element.categoryId" name="category">
                      <mat-option *ngFor="let category of categoriesInformation" [value]="category.id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td *ngIf="!element.isDeleting">
                  <p *ngIf="!element.isUpdating">{{element.ammountStr}}</p>
                  <mat-form-field *ngIf="element.isUpdating" class="example-full-width">
                    <input matInput type="number" placeholder="Ej. 20000" [(ngModel)]="element.ammount">
                  </mat-form-field>
                </td>
                <td *ngIf="!element.isDeleting">
                  <p >{{element.createdOn | date:"longDate"}}</p>
                </td>
                <td *ngIf="!element.isDeleting" class="text-right">
                  <button mat-raised-button color="primary" *ngIf="!element.isUpdating" class="margin-btn"
                    (click)="updateRecord(element)">Actualizar</button>
                  <button mat-raised-button color="primary" *ngIf="element.isUpdating" class="margin-btn"
                    (click)="saveUpdate(element)">Guardar</button>
                  <button mat-raised-button color="warn" *ngIf="!element.isUpdating" class="margin-btn"
                    (click)="deleteRecord(element)">Borrar</button>
                  <button mat-raised-button color="warn" *ngIf="element.isUpdating" class="margin-btn"
                    (click)="cancelUpdate(element)">Cancelar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8" *ngIf="!tableData || tableData.length == 0">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Reporte detallado</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-info">
          <span>No se encontraron registros en este rango de fechas</span>
        </div>
      </div>
    </div>
  </div>
</div>